
 <div class="container">
    <div class="col-6">
      <span>
        <img src="images/graph.png" alt="Graph" >
      </span>
    </div>
    <div class="col-6 center">
      <span>
        <p>Please enter your name and the grades in your classes:</p>
        <form class="contact-form" 
            action="/gradeinput" method="post">
        <label for="name">Student Name</label>
        <input type="text" name="name" value="">
        <label for="grade1">Grade for course 1</label>
        <input type="text" name="grade1" value="">
        <label for="grade2">Grade for course 2</label>
        <input type="text" name="grade2" value="">
        <label for="grade3">Grade for course 3</label>
        <input type="text" name="grade3" value="">
        <label for="grade4">Grade for course 4</label>
        <input type="text" name="grade4" value="">
        <input type="submit" value="Submit">
        </form>
      </span>
    </div>
    
</div>
 
