<div class="container">
        <div class="col-6 center">
          <span>
            <img src="images/graph.png" alt="Graph">
          </span>
        </div>
        <div class="col-6 center">
          <span>
          <h1 style="padding-bottom: 15px; font-weight: bold;">Welcome!</h1>
          <h4>Please input your grades for the specified classes in the 
            'Grade Input' tab. If you qualify for an internship, your
            name will appear in the 'Qualified Students' tab.</h4>
          </span>
        </div>
</div>