<div class="container">
        <div class="col-6 center">
          <span>
            <img src="images/graph.png" alt="Graph">
          </span>
        </div>
        <div class="col-6 center">
          <span>
          <h1 style="padding-bottom: 15px; font-weight: bold;">Thank you!</h1>
          <h4>Thank you for inputting your personal information into our 
            database, it will (probably) not be sold to a third party. If
            you qualify for the internship program, your name will appear 
            in the 'Qualified Students' tab.</h4>
          </span>
        </div>
</div>